#home_page {
    background-size: cover !important;
    background: url("../images/bg1.jpg") center center !important;
}

#menu_page {
    background-size: cover !important;
    background: url("../images/bg2.jpg") center center !important;
}

div.ui-input-text {
    max-width: 300px !important;
    margin: 20px auto !important;
}

input.text_centered {
    text-align: center;
}

.ui-btn {
    max-width: 270px !important;
    margin-left: auto !important;
    margin-right: auto !important;
    padding-left: 0;
    padding-right: 0;
}

h1 {
    padding-top: 10%;
    padding-bottom: 10%;
    text-align: center;
    margin-bottom: 60px;
}

.main_menu_button {
    padding-left: 10px;
    padding-right: 10px;
    margin-left: 5px;
    margin-right: 5px;
    min-width: 150px;
}

.menu_title {
    font-size: 2em;
}

.catering_list_item{
    display: -ms-flexbox !important;
    display: -webkit-flex !important;
    display: flex !important;
    -webkit-flex-direction: row !important;
    -ms-flex-direction: row !important;
    flex-direction: row !important;
    -webkit-flex-wrap: nowrap !important;
    -ms-flex-wrap: nowrap !important;
    flex-wrap: nowrap !important;
    -webkit-justify-content: flex-start !important;
    -ms-flex-pack: start !important;
    justify-content: flex-start !important;
    -webkit-align-content: stretch !important;
    -ms-flex-line-pack: stretch !important;
    align-content: stretch !important;
    -webkit-align-items: stretch;
    -ms-flex-align: stretch;
    align-items: stretch;
}

.catering_list_item_left {
    background-position: center center !important;
    background-size: cover !important;
    -webkit-order: 0 !important;
    -ms-flex-order: 0 !important;
    order: 0 !important;
    -webkit-flex: 0 0 30% !important;
    -ms-flex: 0 0 30% !important;
    flex: 0 0 30% !important;
    -webkit-align-self: auto !important;
    -ms-flex-item-align: auto !important;
    align-self: auto !important;

}

.catering_list_item_center {
    -webkit-order: 0 !important;
    -ms-flex-order: 0 !important;
    order: 0 !important;
    -webkit-flex: 0 0 calc(40% - 20px) !important;
    -ms-flex: 0 0 calc(40% - 20px) !important;
    flex: 0 0 calc(40% - 20px) !important;
    -webkit-align-self: auto !important;
    -ms-flex-item-align: auto !important;
    align-self: auto !important;
    border-left:1px dashed darkgray;
    margin-left:5px;
    margin-right: 5px;
    padding-left:5px;
    padding-right:5px;
}

.catering_list_item_right {
    -webkit-order: 0 !important;
    -ms-flex-order: 0 !important;
    order: 0 !important;
    -webkit-flex: 0 0 calc(30% - 5px) !important;
    -ms-flex: 0 0 calc(30% - 5px) !important;
    flex: 0 0 calc(30% - 5px) !important;
    -webkit-align-self: auto !important;
    -ms-flex-item-align: auto !important;
    align-self: auto !important;
    border-left:1px dashed darkgray;
    padding-left:5px;
}

.catering_description{
    word-wrap: break-word !important;
    white-space: normal !important;
}

.catering_price{
    text-align:center !important;
    width: 100%;
    padding:0 !important;
}
.catering_quantity{
    color:white !important;
    text-align: center !important;
    margin:0 auto !important;
    padding:0 !important;
}
.catering_subtract{
    margin:0 auto !important;
    padding:0 !important;
}
.catering_add {
    margin: 0 auto !important;
    padding:0 !important;
}

td{
    vertical-align: middle;
    text-align: center;
}

#food_order_cart{

}

#food_order_cart>li:nth-child(even) {
    background-color: #919191 !important;
}

.cart_item_name{
    display:inline-block !important;
    font-size:1em !important;
    margin-left: 10px !important;
}

.cart_item_price{
    display:inline-block !important;
    float:right !important;
    font-size:1em !important;
    text-align: right !important;
    margin-right:10px !important;
}

#food_order_label{
    display:inline-block !important;
}

#food_order_total{
    display:inline-block !important;
    margin-left:10px !important;
}

#food_order_total_span{
    float:right !important;
    padding-right:10px !important;
}

/*DRINKS*/

.drink_quantity{
    color:white !important;
    text-align: center !important;
    margin:0 auto !important;
    padding:0 !important;
}
.drink_subtract{
    margin:0 auto !important;
    padding:0 !important;
}
.drink_add {
    margin: 0 auto !important;
    padding:0 !important;
}

#drink_order_cart>li:nth-child(even) {
    background-color: #919191 !important;
}

.drink_cart_item_name{
    display:inline-block !important;
    font-size:1em !important;
    margin-left: 10px !important;
}

.drink_cart_item_price{
    display:inline-block !important;
    float:right !important;
    font-size:1em !important;
    text-align: right !important;
    margin-right:10px !important;
}

#drink_order_label{
    display:inline-block !important;
}

#drink_order_total{
    display:inline-block !important;
    margin-left:10px !important;
}

#drink_order_total_span{
    float:right !important;
    padding-right:10px !important;
}

/*SNACKS*/

.snack_quantity{
    color:white !important;
    text-align: center !important;
    margin:0 auto !important;
    padding:0 !important;
}
.snack_subtract{
    margin:0 auto !important;
    padding:0 !important;
}
.snack_add {
    margin: 0 auto !important;
    padding:0 !important;
}

#snack_order_cart>li:nth-child(even) {
    background-color: #919191 !important;
}

.snack_cart_item_name{
    display:inline-block !important;
    font-size:1em !important;
    margin-left: 10px !important;
}

.snack_cart_item_price{
    display:inline-block !important;
    float:right !important;
    font-size:1em !important;
    text-align: right !important;
    margin-right:10px !important;
}

#snack_order_label{
    display:inline-block !important;
}

#snack_order_total{
    display:inline-block !important;
    margin-left:10px !important;
}

#snack_order_total_span{
    float:right !important;
    padding-right:10px !important;
}

/*DESSERTS*/

.dessert_quantity{
    color:white !important;
    text-align: center !important;
    margin:0 auto !important;
    padding:0 !important;
}
.dessert_subtract{
    margin:0 auto !important;
    padding:0 !important;
}
.dessert_add {
    margin: 0 auto !important;
    padding:0 !important;
}

#dessert_order_cart>li:nth-child(even) {
    background-color: #919191 !important;
}

.dessert_cart_item_name{
    display:inline-block !important;
    font-size:1em !important;
    margin-left: 10px !important;
}

.dessert_cart_item_price{
    display:inline-block !important;
    float:right !important;
    font-size:1em !important;
    text-align: right !important;
    margin-right:10px !important;
}

#dessert_order_label{
    display:inline-block !important;
}

#dessert_order_total{
    display:inline-block !important;
    margin-left:10px !important;
}

#dessert_order_total_span{
    float:right !important;
    padding-right:10px !important;
}

/*MEALS*/

.meal_quantity{
    color:white !important;
    text-align: center !important;
    margin:0 auto !important;
    padding:0 !important;
}
.meal_subtract{
    margin:0 auto !important;
    padding:0 !important;
}
.meal_add {
    margin: 0 auto !important;
    padding:0 !important;
}

#meal_order_cart>li:nth-child(even) {
    background-color: #919191 !important;
}

.meal_cart_item_name{
    display:inline-block !important;
    font-size:1em !important;
    margin-left: 10px !important;
}

.meal_cart_item_price{
    display:inline-block !important;
    float:right !important;
    font-size:1em !important;
    text-align: right !important;
    margin-right:10px !important;
}

#meal_order_label{
    display:inline-block !important;
}

#meal_order_total{
    display:inline-block !important;
    margin-left:10px !important;
}

#meal_order_total_span{
    float:right !important;
    padding-right:10px !important;
}

h3{
    margin-left:10px;
}

.media_description{
    display:table-cell !important;
    width:100% !important;
    height: 100vh !important;
    text-align: center !important;
    vertical-align: middle !important;
    font-size: 2em !important;
}

#movie_page {
    background-size: cover !important;
    background: url("../images/bg1.jpg") center center !important;
}

#tv_page {
    background-size: cover !important;
    background: url("../images/bg1.jpg") center center !important;
}

#pool_page{
    background-size: cover !important;
    background: url("../images/bg3.jpg") center center !important;
}

#message_form{
    max-width: 300px !important;
    margin:0 auto !important;
}

.massage_label{
    max-width: 300px !important;
}

.ui-radio{
    max-width: 300px !important;
    padding-left: 50px !important;
}